<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %} Logout {% endblock %}
{% block content %}
<h1> Logout </h1>
<p>You have been successfully logged out of the page. You can <a href="{% url 'login' %}"> Log in once again</a>.</p>
{% endblock %}
</body>
</html>