<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h1> Login </h1>
{% if form.errors %}
<p>
    The username or password is incorrect. Try once again.
</p>
{% else %}
<p>Fill out the form below to log in.
If you dont have an account, you can create it <a href="{% url 'register' %}">here</a>.</p>
{% endif %}

<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        <p><a href="{% url 'password_reset' %}">Did you forget your password?</a></p>
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <p><input type="submit" value="Log in"></p>
    </form>
</div>
{% endblock %}
</body>
</html>