<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}
<h1>Reset password</h1>
<p>We have sent you an email with instructions to reset your password.</p>
<p>If you didnt receive this email, then ensure that you have entered the correct address
in password reset form</p>
{% endblock %}
</body>
</html>