<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<h1>reset password</h1>
<p>Password has been changed. You can <a href="{% url 'login' %}"> log in now</a>.</p>
{% endblock %}
</body>
</html>