<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}reset your password{% endblock %}
{% block content %}
<h1>reset your password</h1>
{% if validlink %}
<p>Enter your password twice</p>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="change_password"></p>
</form>
{% else %}
The password reset link is invalid because it has probably been used before. You must start again
password reset procedure.
{% endif %}
{% endblock %}
</body>
</html>