<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %} Reset your password {% endblock %}
{% block content %}
<h1>Did you forget your password ?</h1>
<p>enter your e-mail account to receive a new password.</p>
<form action="." method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Send your email"></p>
    {% csrf_token %}
</form>
{% endblock %}
</body>
</html>