<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}You password has be changed{% endblock %}
{% block content %}
<h1>Your password has been changed</h1>
<p>Password change was successful</p>
{% endblock %}
</body>
</html>