<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}Password change{% endblock %}
{% block content %}
<h1>Password change</h1>
<p>Fill out the form below to change your password.</p>
<form action="." method="post">
    {{ form.as_p}}
    <p><input type="submit" value="Change"></p>
    {% csrf_token %}
</form>
{% endblock %}
</body>
</html>