<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'account/css/bookmarklet.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
<div id="header">
    <span class="logo">Bookmarks</span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li {% if section == "dashboard" %} class="selected" {% endif %}>
            <a href='{% url "dashboard" %}'>Main panel</a>
        </li>
        <li {% if section == 'images' %} class="selected" {% endif %}>
            <a href="#">Images</a>
        </li>
        <li {% if section == 'people' %} class='selected' {% endif %}>
            <a href="#">People</a>
        </li>
    </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
        Welcome,{{ request.user.first_name }}!
        <a href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'login' %}">Log in</a>
        {% endif %}
    </span>
</div>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                    <a href="{% url 'dashboard' %}" class="close">x</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>