<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %} Main Panel {% endblock %}
{% block content %}
<h1>Main panel</h1>
{% with total_images_created=request.user.images_created.count %}
<p>Welcome in main panel. You add {{ total_images_created }} image {{ total_images_created|pluralize:'s'}}.</p>
{% endwith %}
<p>Drag the button below onto the Favorites bar. You will be able to add
images from other websites <a href="javascript:{% include 'bookmarklet_launcher.js' %}"
                              class="button">Add images</a></p>
<p>You can <a href="{% url 'edit' %}">Edit your profil</a> or
    <a href="{% url 'password_change' %}">edit your password</a></p>
{% endblock %}
</body>
</html>