<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}Account Editing{% endblock %}
{% block content %}
<h1>Account editing</h1>
<p>Account setting you can change using form below</p>
<form action="." method="post" enctype="multipart/form-data">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
<p><input type="submit" value="Save changes"></p>
</form>
{% endblock %}
</body>
</html>