<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h1>Welcome, {{ new_user.first_name }}!</h1>
<p>Your account has just been created. You can <a href="{% url 'login' %}">login</a>.</p>
{% endblock %}
</body>
</html>