<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block tile %}Create account{% endblock %}
{% block content %}
<h1>Create account</h1>
<p>Fill out the form below to register your account</p>
<form action="." method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="create account"></p>
</form>
{% endblock %}
</body>
</html>